.BlogDetails {
    padding: 4em 0em;

    .head {
        text-align: center;
        margin-bottom: 2em;
    }

    .blog_content_wrapper {
        .image_wrapper {
            height: 400px;
            overflow: hidden;
            margin-bottom: 2em;
            
            img{
                border-radius: 10px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content_area {
        }
    }
}