
.technologies_keyTabs{
    padding: 4em 0em;

    .head{
        text-align: center;
        margin-bottom: 2em;
    }

    .keyTab_content_wrapper{
        .nav.nav-tabs{
            justify-content: center;
        }
    }
}